[package]
name = "rwlog"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1.4.3"
chrono = "0.4.26"
crossbeam = "0.8.2"
num_enum = "0.7.0"
